<!DOCTYPE html>
<html>
<head>

    <title>我已经在“一二九养成计划”中打卡 {{ student.checkintimes }} 天</title>

    <meta charset="UTF-8">
    <meta name="description" content="129" />
    <meta name="keywords" content="EE,129" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1" />
    <meta name="author" content="eesast" />
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit">
    <meta name="theme" content="EE129">


    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    {% load static %}
    <link rel="icon" href="{% static "image/EE129.ico" %}"

</head>

<body>

    <div class="text-box">
        <p class="heading">你已经打卡了 {{ student.checkintimes }} 天</p>
        <p style="font-size: 0.8rem;margin-bottom: 10px">（由于前两次签到时出现故障，数据损坏，所有同学默认前两天都完成了签到）</p>
        <p>{{ tip }}</p>
    </div>

    <div class="reg"></div>

</body>

</html>
