<!DOCTYPE html>
<html>
<head>

    <title>我正在“一二九养成计划”中打卡，一起来吧</title>

    <meta charset="UTF-8">
    <meta name="description" content="129" />
    <meta name="keywords" content="EE,129" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1" />
    <meta name="author" content="eesast" />
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit">
    <meta name="theme" content="EE129">


    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    {% load static %}
    <link rel="icon" href="{% static "image/EE129.ico" %}">



</head>
<body>

    <div class="theme-pic"></div>

    <div class="main-heading">

        <form action="" method="post">
            {% csrf_token %}
            {% if form.student_id.errors %}
            <p class="tip error">请输入正确学号</p>
            {% else %}
            <p class="tip">请输入您的学号</p>
            {% endif %}
            {{ form.student_id }}
            <input type="submit" value="打卡" id="sub">
            


        </form>

    </div>


    <div class="regist">
        <p>今日签到</p>

        <div class="regist-data">
            {% if checkinlist %}
            <p>今天已有 {{ checkinlist|length }} 人打卡</p>
            {% else %}
            <p>今天还没有人打卡</p>
            {% endif %}
        </div>

    </div>

    <figure class="two-d-code">
        <a href="http://mp.weixin.qq.com/s?__biz=MzA3MDA1MTAyMw==&mid=2650760833&idx=1&sn=2178ec9c8ea45257a6674d86f2659493&chksm=" target="_blank" title="加入活动">加入活动</a>
        {% load static %}
        <img src="{% static "image/two-dimension-code.jpg" %}">
    </figure>


    <footer>

        <p title="联合活动">电子系团委·环境学院团委·自动化系团委联合主题活动</p>
        <a href="https://www.eesast.com/" target="_blank" title="电子科协">电子系科协提供技术支持</a>
    </footer>





</body>
</html>
